table{
    width: 100%;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: orange;
}

table caption{
    font-size:40px;
    text-align: center;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: orange;
    padding: 3px 5px;
    background: #888;
    color: #fff;
}

table thead th{
    text-align: center;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: orange;
    padding: 3px 5px;
    background: #888;
    color: #fff;
}

table tbody td{
    text-align: center;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: orange;
    padding: 3px 5px;
}

table tfoot td{
    text-align: center;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: orange;
    padding: 3px 5px;
    background-color:#000000;
    color:#fff;
}